// @media (prefers-color-scheme: light) {
//   :root {
//     $bg-color: white;
//     $channel-name-hover: #707070;
//     $channel-title: #000;
//     $nav-fill: #000;
//     $search-container-bg: white;
//     $pt-bg-colors: #e5e5e5;
//     $basic-bg: #f2f2f2;
//     $search-border: 1px solid #dbdbdb;
//     $category-hover: #dbdbdb;
//     $meta-color: #707070;
//     $notification-bg-color: #f8f8f8;
//   }

//   .mic {
//     background: $basic-bg;
//   }

//   .mic:hover {
//     background: $category-hover;
//   }

//   .category {
//     background: $basic-bg;
//   }

//   .active {
//     background: $basic-bg;
//   }

//   .aside-two {
//     fill: black;
//     color: #000;
//   }

//   .items:hover {
//     background: $basic-bg;
//   }

//   .menu-bars:hover {
//     background: $basic-bg;
//   }

//   .search-container input {
//     color: black;
//     /* box-shadow: inset .3px 1px .2px .6px rgba(0, 0, 0, 0.055); */
//     box-shadow: inset 0 1px 2px #eee;
//   }

//   .active-cat {
//     background: black;
//     color: white;
//   }

//   .hover-channel-name {
//     background: #707070d5;
//   }

//   .close-text p {
//     color: #606060;
//   }

//   .name-section,
//   .name-section svg {
//     fill: #707070;
//     color: #707070;
//   }

//   .video-channel-name:hover {
//     color: #313131;
//   }

//   .fa-ellipsis-vertical {
//     color: black;
//   }

//   .exc:hover {
//     background: none;
//     cursor: text;
//   }

//   .aside2 svg {
//     fill: black;
//   }

//   .aside2 {
//     color: black;

//   }

//   .upload {
//     color: black;
//   }

//   .fs:hover {
//     background-color: $basic-bg;
//   }

// }


@media screen and (max-width:1311px) {
  .aside-two {
    display: none;
  }

  .aside2 {
    display: block;
  }
}
@media screen and (max-width:900px) {
  .show-more{
    left: 40%;
  }
}

@media screen and (max-width:768px) {
  .show-more{
    left: 35%;
  }
}

@media screen and (max-width: 500px) {

  body{
    padding: 0 1em;
  }
  
  .mic{
    transform: translateX(3em);
  }
  .middle{
    // display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .categories{
    min-width: 100%;
  }
  nav{
    margin-right: 0;
    max-width: 75%;
    justify-content: start;
    .logo{
      transform: translateX(-.5em);
    }
  }

  .video-section{
    margin-right: 0;
  }
  .middle{
    transform: translateX(10.5em);
    max-width: 3em;
  }
  .central {
    // padding: 0 1em;
  }

  body {
    overflow-x: hidden;
  }


  .push {
    display: none;
  }
  .arrow-right{
    display: none;
  }

  .push-two {
    display: none;
  }

  .search-container {
    width: 0em;

    input {
      display: none;

    }

    .search-icon {
      border: none;
      background: none;

    }

  }
    .aside2 {
      display: none;
    }

  .show-more {
    display: none;
  }

  .shorts-bottom-section {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    border: none;
    article{
      position: relative;
    }

    .shorts-title{
      position: absolute;
      bottom: 10%;
      left: 5%;
    }
    .fa-ellipsis-vertical{
      position: absolute;
      top: 5%;
      right: 5%;
    }
    .shorts-meta-data{
      display: none;
    }
  }

  .overflow-shorts {
    height: 20em;
  }

  .right-close {
    display: none;
    background-color: red;
    visibility: hidden;
  }
  .shorts-head{
    h3{
      font-size: 16px;
    }
  }
  .right{
    visibility: hidden;
  }
}
@media screen and (max-width:330px){
  nav{
    .middle{

      // background-color: red;
      transform: translateX(4em);

      
    }
  }
}